
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@400;500;600&display=swap');

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #333;
  background-color: #dfcaca;
  margin: 0; /* Pastikan body tidak memiliki margin */
  padding: 0;
  /* height: 1000vh; */
}

/* LOGO WEBSITE */

.logo {
  display: flex;
  user-select: none;
  margin-left: 5px;
  color: #f1e8e8;
  flex-direction: row;
  width: 180px;
  height: 120px;
  font-size: 13px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.h1logo {
  display: flex;
}

/* .logotitle {
  user-select: none;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
} */
/* Header */

header {
  background-color: #9c96ce;
  padding: 100px 0;
  width: 100%;
}

header .container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 1000px;
}

header .logo {
  max-width: 200px;
  margin: 0 auto;
}

header .title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

header .main-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

header .main-nav li {
  display: inline-block;
  margin-right: 20px;
}

header .main-nav a {
  color: #e6c5c5;
  text-decoration: none;
}


/* NAVBAR */

.main-nav {
  background-color: #0c0c0c;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  top: 0;
  right: 0; /* Pastikan nav menjangkau kanan penuh */
  width: 100%;
  z-index: 1300;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: auto;
  margin-right: 150px;
}

.main-nav li {
  margin-right: 30px;
}

.main-nav a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.main-nav a:hover {
  color: rgb(250, 253, 247);
}

.main-nav ul li a {
  color: rgb(192, 160, 160);
}

.main-nav a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #1e9400a9;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.main-nav a:hover::before {
  transform: scaleX(1);
  color: #000000;
}

.join-us {
  display: flex;
  position: absolute;
  top: ;
  right: 60px;
  bottom: 15px;
  z-index: 2;
  margin: 2px;
  background-color: #1b2b2b;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.join-us:hover {
  background-color: #005a97;
}

.join-us:active {
  background-color: #004177;
  
  transform: scale(0.95);
}

.join-us span {
  display: inline-block;
  color: #e4dbdb;
  transition: all 0.3s ease-in-out;
}

.join-us:hover span {
  color: #f7eeee;
  transform: translateX(0) scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.join-us:hover span:active {
  transform: translateX(0) scale(1);
}



  /* SOSMED */

.icon {
  position: absolute;
  top: auto;
  bottom: auto;
  right: 15px;
  margin-top: 12px;
  z-index: 2;
}

.tombol {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #977be2;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  color: #fff;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.tombol i {
  font-size: 16px;
}

.tombol:hover {
  background: #555;
}

/* Main */

main {
  padding: 20px 0;
}

main .content {
  text-align: center;
}

main .content h2 {
  font-size: 24px;
  font-weight: bold;
}

main .content p {
  margin-bottom: 20px;
}

/* Gambar */

main .gambar1 {
  width: 60%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  aspect-ratio: 16/9;
}

.judul {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 600;
}

.warnateksputih {
  color: #e6c5c5;
}

.tekskekiri {
  text-align: left;
  text-indent: 15px;
  margin: 10px 90px 40px 30px;
  padding-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
}


/* Footer */

footer {
  background-color: #1f1e1e;
  padding: 20px 0;
  position: relative;
  height: 400px;
  margin-top: 100px;
  z-index: 1;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
}

footer .info {
  text-align: center;
}

footer .info p {
  margin-bottom: 10px;
}

footer .copyright {
  font-size: 12px;
  padding-left: 12px;
  color: #e6c5c5;
}
footer .pesan {
  font-size: 12px;
  padding-right: 14px;
  color: #e6c5c5;
  text-align: right;
}

/* Hamburger menu */

.iconh {
  position: absolute;
  font-size: 25px;
  top: auto;
  bottom: auto;
  margin-right: 20px;
  right: 0;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-icon {
  cursor: pointer;
  display: none;
  transition: all 0.3s ease;
}

.bar {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.nav-menu {
  display: none;
}

.nav-menu.show {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  background-color: #333;
  z-index: 5;
  height: 270px;
  
}

.nav-menu ul {
  list-style: none;
  flex-direction: column;
}

.nav-menu ul li {
  margin: 10px 0;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nav-menu a:hover {
  color: #f00;
}

.nav-menu a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fdfeff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-menu a:hover::before {
  transform: scaleX(1);
}

@media (max-width: 350px) {

.iconh {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1000;
}

.tombolh {
  position: relative;
  background: #333;
  margin-right: 30px;
  right: 20px;
}

.menu-icon {
  display: block;
}

.nav-menu.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 0;
  padding-left: 0;
  width: 100%;
  background-color: #333;
  z-index: 1;
}
}

  @media (max-width: 450px) {
    .iconh {
      position: fixed;
      bottom: 10px;
      right: 20px;
      z-index: 1000;
    }
  
    .tombolh {
      position: relative;
      background: #333;
      margin-right: 20px;
      right: 10px;
    }

    .bar {
      width: 30px;
      height: 5px;
      background-color: #fff;
      margin: 6px 0;
      transition: 0.4s;
    }
    
  
    .menu-icon {
      display: block;
    }
  
    .nav-menu.show {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      padding-left: 0;
      width: 100%;
      background-color: #333;
      z-index: 1;
    }

    .main-nav ul {
      list-style: none;
      padding: 0;
      display: flex;
      margin-left: 20px;
    }
    
    .main-nav li {
      margin-right: 15px;
    }
    
  }    

/* RESPONSIVE NAVBAR */

@media (max-width: 768px) {
  .container {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    height: auto;
  }

}

@media (max-width: 320px) {
  .container {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 920px) {
  .container {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 720px) {
  .container {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
    height: auto;
  }
}




/* ICON SOSMED */
@media (max-width: 500px){
  .icon {
    position: absolute;
    top: auto;
    bottom: auto;
    right: 15px;
    margin-top: 350px;
    size: 10px;
    z-index: 2;
  }
  .tombol {
    background: #333;
  }

  nav {
    width: 30px;
  }

  nav li {
    margin-right: 10px;
  }

  }
  /* FOOTER */
  footer .container {
    max-width: 1200px;
    margin: 0 auto;
  }

